In [9]:
import pandas as pd
import numpy as np
import os

In [11]:
AggregateYearlyData = pd.read_csv('/Users/tracy/Documents/GitHub/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/Occupation_Yearly.csv') 

AggregateYearlyData = AggregateYearlyData.drop("Unnamed: 0",1)
AggregateYearlyData

                                           Occupations  year  YearlyNumEmp
0                               Management occupations  2010     555152.00
1        Business and financial operations occupations  2010     341867.25
2                Computer and mathematical occupations  2010     129836.25
3             Architecture and engineering occupations  2010      54226.25
4       Life, physical, and social science occupations  2010      50566.50
..                                                 ...   ...           ...
245            Construction and extraction occupations  2019     303427.50
246  Installation, maintenance, and repair occupations  2019     110389.50
247                             Production occupations  2019     149535.50
248                         Transportation occupations  2019     282836.00
249                        Material moving occupations  2019     132797.50

[250 rows x 3 columns]

In [11]:
AggregateYearlyData.to_csv("/Users/tracy/Documents/GitHub/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/yearly_numemp.csv",index = False)