In [48]:
import pandas as pd
import numpy as np
import os

In [49]:
Data = pd.read_csv('/Users/tracy/Desktop/columbia/5702/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/TrimmedAggregateYearlyData_wide.csv')

In [50]:
Data.index.values
Years = [i for i in range(1,3)]

def add_variance(Years_data):
    variance = 0
    for year in Years:
        variance_temp = abs(Years_data[year+1] - Years_data[year])
        if (variance_temp > variance):
            variance = variance_temp
    return variance

Data['variance'] = Data.apply(add_variance,axis = 1)
Data.style

In [51]:
Data.to_csv(r"/Users/tracy/Desktop/columbia/5702/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/AggregateYearlyDataWithVariance.csv",index = False)