In [2]:
import pandas as pd
import numpy as np
import os

In [8]:
Data = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/OccupationVSotherVariables/DetailedAnalysisOnSex+Occupation+Race/race.csv')

Data
#Data = pd.read_csv('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/RawData/OccupationVSotherVariables/DetailedAnalysisOnSex+Occupation+Race/race.csv')

,Unnamed: 0,"Bronx County, New York","Kings County, New York",Label,"New York County, New York","Queens County, New York","Richmond County, New York",race,year
0,0,22160.0,121664,Total:,98647.0,248187,16530.0,Asian Alone,2010
1,1,12283.0,66638,Male:,44989.0,135390,8822.0,Asian Alone,2010
2,2,3201.0,15689,"Management, business, science, and arts occupa...",28593.0,41250,4012.0,Asian Alone,2010
3,3,1103.0,5399,"Management, business, and financial occupation...",12780.0,19782,1419.0,Asian Alone,2010
4,4,458.0,3330,Management occupations_Male,7144.0,11371,719.0,Asian Alone,2010
...,...,...,...,...,...,...,...,...,...
5105,68,0.0,121,"Installation, maintenance, and repair occupati...",17.0,72,485.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5106,69,674.0,3239,"Production, transportation, and material movin...",2190.0,3226,1124.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5107,70,220.0,1995,Production occupations_Female,1075.0,1547,179.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5108,71,285.0,587,Transportation occupations_Female,160.0,1181,294.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5109,72,169.0,657,Material moving occupations_Female,955.0,498,651.0,WHITE ALONE NOT HISPANIC OR LATINO,2019

In [10]:
cols = ['Unnamed: 0', 'Label', 'Bronx County, New York', 'Kings County, New York', 'New York County, New York', 'Queens County, New York', 'Richmond County, New York', 'race', 'year']

try:
    Data = Data[cols]
    Data = Data.drop(columns = 'Unnamed: 0')
except KeyError:
    pass

Data.fillna(0,inplace = True)
Data

,Label,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",race,year
0,Total:,22160.0,121664,98647.0,248187,16530.0,Asian Alone,2010
1,Male:,12283.0,66638,44989.0,135390,8822.0,Asian Alone,2010
2,"Management, business, science, and arts occupa...",3201.0,15689,28593.0,41250,4012.0,Asian Alone,2010
3,"Management, business, and financial occupation...",1103.0,5399,12780.0,19782,1419.0,Asian Alone,2010
4,Management occupations_Male,458.0,3330,7144.0,11371,719.0,Asian Alone,2010
...,...,...,...,...,...,...,...,...
5105,"Installation, maintenance, and repair occupati...",0.0,121,17.0,72,485.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5106,"Production, transportation, and material movin...",674.0,3239,2190.0,3226,1124.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5107,Production occupations_Female,220.0,1995,1075.0,1547,179.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5108,Transportation occupations_Female,285.0,587,160.0,1181,294.0,WHITE ALONE NOT HISPANIC OR LATINO,2019
5109,Material moving occupations_Female,169.0,657,955.0,498,651.0,WHITE ALONE NOT HISPANIC OR LATINO,2019

In [11]:
Years = [i for i in range(2010,2020)]
OccupationsByYear = []

for year in Years:
    Occupations = {'Management occupations':0,
               'Business and financial operations occupations':0,
               'Computer and mathematical occupations':0,
               'Architecture and engineering occupations':0,
               'Life, physical, and social science occupations':0,
               'Community and social service occupations':0,
               'Legal occupations':0,
               'Education, training, and library occupations':0,
               'Arts, design, entertainment, sports, and media occupations':0,
               'Health diagnosing and treating practitioners and other technical occupations':0,
               'Health technologists and technicians':0,
               'Healthcare support occupations':0,
               'Fire fighting and prevention, and other protective service workers including supervisors':0,
               'Law enforcement workers including supervisors':0,
               'Food preparation and serving related occupations':0,
               'Building and grounds cleaning and maintenance occupations':0,
               'Personal care and service occupations':0,
               'Sales and related occupations':0,
               'Office and administrative support occupations':0,
               'Farming, fishing, and forestry occupations':0,
               'Construction and extraction occupations':0,
               'Installation, maintenance, and repair occupations':0,
               'Production occupations':0,
               'Transportation occupations':0,
               'Material moving occupations':0}
    YearData = Data[Data['year'] == year]
    for i in range(YearData.shape[0]):
        for key in Occupations.keys():           
            if key in YearData.iloc[i][0] and sum(YearData.iloc[i][x] for x in range(1,6)) != np.nan:
                Occupations[key] += sum(YearData.iloc[i][x] for x in range(1,6)) 
    
    Occupations = pd.DataFrame.from_dict(Occupations,orient='index',columns=['NumEmps'])
    Occupations.insert(loc=0,column = 'Occupations',value = Occupations.index)
    Occupations.reset_index(drop=True,inplace=True)
    Occupations['year'] = year
    OccupationsByYear.append(Occupations)


OccupationsByYear = pd.concat(OccupationsByYear)
OccupationsByYear

                                          Occupations   NumEmps  year
0                              Management occupations  552620.0  2010
1       Business and financial operations occupations  340107.0  2010
2               Computer and mathematical occupations  129308.0  2010
3            Architecture and engineering occupations   53954.0  2010
4      Life, physical, and social science occupations   50490.0  2010
..                                                ...       ...   ...
20            Construction and extraction occupations  302902.0  2019
21  Installation, maintenance, and repair occupations  109984.0  2019
22                             Production occupations  148952.0  2019
23                         Transportation occupations  282241.0  2019
24                        Material moving occupations  132244.0  2019

[250 rows x 3 columns]

In [14]:
#OccupationsByYear.to_csv(os.path.join('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/','yearly_cleveland.csv'),index=False)
OccupationsByYear.to_csv('/Users/tracy/Desktop/columbia/5702/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/yearly_cleveland.csv')