In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
#Data = pd.read_csv('C:/Users/Administrator/Desktop/columbia/5702/STAT5702_NYC_Employment_Analysis/RawData/DetailedAnalysisOnSex+Occupation+Race/race.csv') #TracyPath
Data = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_01.csv')

In [5]:
cols = ['Unnamed: 0', 'Label', 'Bronx County, New York', 'Kings County, New York', 'New York County, New York', 'Queens County, New York', 'Richmond County, New York', 'race', 'year']

try:
    Data = Data[cols]
    Data = Data.drop(columns = 'Unnamed: 0')
except KeyError:
    pass

Data.fillna(0,inplace = True)

In [6]:
Occupations = {'Management occupations':0,'Business and financial operations occupations':0,'Computer and mathematical occupations':0,'Architecture and engineering occupations':0,'Life, physical, and social science occupations':0,'Community and social service occupations':0,'Legal occupations':0,'Education, training, and library occupations':0,'Arts, design, entertainment, sports, and media occupations':0,'Healthcare practitioners and technical occupations:':0,'Fire fighting and prevention, and other protective service workers including supervisors':0,'Law enforcement workers including supervisors':0,'Food preparation and serving related occupations':0,'Sales and related occupations':0,'Office and administrative support occupations':0,'Farming, fishing, and forestry occupations':0,'Construction and extraction occupations':0,'Installation, maintenance, and repair occupations':0,'Production occupations':0,'Transportation occupations':0,'Material moving occupations':0}

In [7]:
# Occupations = {'Management occupations':0,'Business and financial operations occupations':0,'Computer and mathematical occupations':0,'Architecture and engineering occupations':0,'Life, physical, and social science occupations':0,'Community and social service occupations':0,'Legal occupations':0,'Education, training, and library occupations':0,'Arts, design, entertainment, sports, and media occupations':0,'Healthcare practitioners and technical occupations':0,'Fire fighting and prevention, and other protective service workers including supervisors':0,'Law enforcement workers including supervisors':0,'Food preparation and serving related occupations':0,'Sales and related occupations':0,'Office and administrative support occupations':0,'Farming, fishing, and forestry occupations':0,'Construction and extraction occupations':0,'Installation, maintenance, and repair occupations':0,'Production occupations':0,'Transportation occupations':0,'Material moving occupations':0}

for i in range(Data.shape[0]):
        for key in Occupations.keys():           
            if key in Data.iloc[i][0] and sum(Data.iloc[i][x] for x in range(1,6)) != np.nan:
                Occupations[key] += sum(Data.iloc[i][x] for x in range(1,6)) 

Occupations = pd.DataFrame.from_dict(Occupations,orient='index',columns=['NumEmps'])
Occupations.insert(loc=0,column = 'Occupations',value = Occupations.index)
Occupations.reset_index(drop=True,inplace=True)
Occupations['NumEmps'] /= 10
Occupations.style

In [8]:
Occupations.to_csv(os.path.join('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp','aggregate_cleveland.csv'),index=False)