In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
Data = pd.read_csv('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/Occupation_Yearly.csv')

In [6]:
Data.style

In [38]:
Occupations = []
i = 0

while Data.iloc[i][2] == 2010:
    Occupations.append(Data.iloc[i][1])
    i += 1

Averages = {}

for occupation in Occupations:
    
    Averages[occupation] = float((Data[Data['Occupations']==occupation]['YearlyNumEmp']).mean())
    
Averages = pd.DataFrame.from_dict(Averages,orient = 'index')
Averages.reset_index(inplace = True)

print(Averages)

                                                index           0
0                              Management occupations  663135.650
1       Business and financial operations occupations  380920.725
2               Computer and mathematical occupations  167944.175
3            Architecture and engineering occupations   63201.175
4      Life, physical, and social science occupations   56755.475
5            Community and social service occupations  123546.700
6                                   Legal occupations  143838.450
7        Education, training, and library occupations  425770.625
8   Arts, design, entertainment, sports, and media...  337749.250
9   Health diagnosing and treating practitioners a...  222635.775
10               Health technologists and technicians   79355.825
11                     Healthcare support occupations  288822.275
12  Fire fighting and prevention, and other protec...  108201.775
13      Law enforcement workers including supervisors   58621.375
14   Food preparation and serving related occupations  381283.300
15  Building and grounds cleaning and maintenance ...  298976.025
16              Personal care and service occupations  293855.025
17                      Sales and related occupations  636928.175
18      Office and administrative support occupations  757015.250
19         Farming, fishing, and forestry occupations    4864.525
20            Construction and extraction occupations  290423.600
21  Installation, maintenance, and repair occupations  114837.850
22                             Production occupations  169087.000
23                         Transportation occupations  273026.775
24                        Material moving occupations  100645.350

In [39]:
Averages.to_csv(os.path.join('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/','AverageEmpsByOccupation.csv'),index = True)