In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
numemp_sum = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_sum.csv")

cols = ['Unnamed: 0', 'Occupations', 'Bronx County, New York', 'Kings County, New York', 'New York County, New York', 'Queens County, New York', 'Richmond County, New York', 'year','race','Gender']

try:
    numemp_sum = numemp_sum[cols]
    numemp_sum = numemp_sum.drop(columns = 'Unnamed: 0')
except KeyError:
    pass

numemp_sum.style

In [3]:

numemp_sum['Bronx'] = numemp_sum.groupby(['Gender','year'])['Bronx County, New York'].transform('sum')
numemp_sum['Kings'] = numemp_sum.groupby(['Gender','year'])['Kings County, New York'].transform('sum')
numemp_sum['New_York'] = numemp_sum.groupby(['Gender','year'])['New York County, New York'].transform('sum')
numemp_sum['Queens'] = numemp_sum.groupby(['Gender','year'])['Queens County, New York'].transform('sum')
numemp_sum['Richmond'] = numemp_sum.groupby(['Gender','year'])['Richmond County, New York'].transform('sum')

numemp_sum = numemp_sum.iloc[:,[6,8,9,10,11,12,13]]
numemp_sum = numemp_sum.drop_duplicates()

numemp_sum["New York City"] = numemp_sum["Bronx"]+numemp_sum["Kings"]+numemp_sum["New_York"]+numemp_sum["Queens"]+numemp_sum["Richmond"]
numemp_sum.style

In [4]:
numemp_sum.to_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_sum_final.csv")