In [2]:
import numpy as np
import pandas as pd

In [6]:
GenderData = pd.read_csv('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/gendercleveland.csv')
RaceData = pd.read_csv('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/OccupationByRace.csv')

In [8]:
RaceData.style

In [9]:
GenderData.style