In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
numemp_yearly_data = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/yearly_cleveland.csv') 

numemp_yearly_data = numemp_yearly_data.drop(columns = 'Unnamed: 0')

numemp_yearly_data.style

In [3]:
numemp_2010 = numemp_yearly_data[numemp_yearly_data['year'] == 2010].iloc[:,0:2]
numemp_2011 = numemp_yearly_data[numemp_yearly_data['year'] == 2011].iloc[:,0:2]
numemp_2012 = numemp_yearly_data[numemp_yearly_data['year'] == 2012].iloc[:,0:2]
numemp_2013 = numemp_yearly_data[numemp_yearly_data['year'] == 2013].iloc[:,0:2]
numemp_2014 = numemp_yearly_data[numemp_yearly_data['year'] == 2014].iloc[:,0:2]
numemp_2015 = numemp_yearly_data[numemp_yearly_data['year'] == 2015].iloc[:,0:2]
numemp_2016 = numemp_yearly_data[numemp_yearly_data['year'] == 2016].iloc[:,0:2]
numemp_2017 = numemp_yearly_data[numemp_yearly_data['year'] == 2017].iloc[:,0:2]
numemp_2018 = numemp_yearly_data[numemp_yearly_data['year'] == 2018].iloc[:,0:2]
numemp_2019 = numemp_yearly_data[numemp_yearly_data['year'] == 2019].iloc[:,0:2]

numemp_2010.style

In [4]:
numemp_2010.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2010.csv",index = False)
numemp_2011.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2011.csv",index = False)
numemp_2012.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2012.csv",index = False)
numemp_2013.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2013.csv",index = False)
numemp_2014.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2014.csv",index = False)
numemp_2015.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2015.csv",index = False)
numemp_2016.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2016.csv",index = False)
numemp_2017.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2017.csv",index = False)
numemp_2018.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2018.csv",index = False)
numemp_2019.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/numemp_2019.csv",index = False)