In [1]:
import pandas as pd
import numpy as np
import os

In [10]:
AggregateYearlyData = pd.read_csv('/Users/tracy/Documents/GitHub/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/Occupation_Yearly.csv') 
AggregateYearlyData = AggregateYearlyData.rename(columns = {"Occupations":"name",
                                                            "YearlyNumEmp":"value",
                                                            "year":"date"})
AggregateYearlyData["date"] = AggregateYearlyData["date"].astype(str)+"-01-01"
cols = ["date","name","value"]
AggregateYearlyData = AggregateYearlyData[cols]
AggregateYearlyData

           date                                               name      value
0    2010-01-01                             Management occupations  555152.00
1    2010-01-01      Business and financial operations occupations  341867.25
2    2010-01-01              Computer and mathematical occupations  129836.25
3    2010-01-01           Architecture and engineering occupations   54226.25
4    2010-01-01     Life, physical, and social science occupations   50566.50
..          ...                                                ...        ...
245  2019-01-01            Construction and extraction occupations  303427.50
246  2019-01-01  Installation, maintenance, and repair occupations  110389.50
247  2019-01-01                             Production occupations  149535.50
248  2019-01-01                         Transportation occupations  282836.00
249  2019-01-01                        Material moving occupations  132797.50

[250 rows x 3 columns]

In [11]:
AggregateYearlyData.to_csv("/Users/tracy/Documents/GitHub/STAT5702_NYC_Employment_Analysis/D3_files/data/PreprocessedData/yearly_numemp.csv",index = False)