In [1]:
import pandas as pd
import numpy as np
import os

In [8]:
salary_edu = pd.read_csv(r"/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Salary/NewSalary.csv")

In [9]:
# Analyze on salary variation according to different year ranges
salary_edu['Salary_CountyGender'] = salary_edu.groupby(['Boroughs','Gender','year'])['Salary'].transform('mean')
salary_edu = salary_edu.iloc[:,[1,2,3,14]].drop_duplicates()
salary_edu

      Gender         Boroughs      year  Salary_CountyGender
0       Male     Bronx County  year2010         41084.160000
1       Male     Bronx County  year2011         41193.040000
2       Male     Bronx County  year2012         39712.680000
3       Male     Bronx County  year2013         40585.760000
4       Male     Bronx County  year2014         39686.440000
...      ...              ...       ...                  ...
2255  Female  Richmond County  year2015         45296.985000
2256  Female  Richmond County  year2016         46717.985000
2257  Female  Richmond County  year2017         48114.186667
2258  Female  Richmond County  year2018         50237.146667
2259  Female  Richmond County  year2019         47875.746667

[100 rows x 4 columns]

In [12]:
salary_edu.to_csv(r"/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/education/salary_edu.csv")