In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
salary_edu = pd.read_csv(r"/Users/tracy/Documents/GitHub/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Salary/NewSalary.csv")

In [3]:
# Analyze on salary variation according to different year ranges
salary_edu['Salary_CountyGender'] = salary_edu.groupby(['Boroughs','Gender','year'])['Salary'].transform('sum')
salary_edu = salary_edu.iloc[:,[1,2,3,14]].drop_duplicates()
salary_edu

      Gender         Boroughs      year  Salary_CountyGender
0       Male     Bronx County  year2010         1.027104e+06
1       Male     Bronx County  year2011         1.029826e+06
2       Male     Bronx County  year2012         9.928170e+05
3       Male     Bronx County  year2013         1.014644e+06
4       Male     Bronx County  year2014         9.921610e+05
...      ...              ...       ...                  ...
2255  Female  Richmond County  year2015         1.132425e+06
2256  Female  Richmond County  year2016         1.167950e+06
2257  Female  Richmond County  year2017         1.202855e+06
2258  Female  Richmond County  year2018         1.255929e+06
2259  Female  Richmond County  year2019         1.196894e+06

[100 rows x 4 columns]

In [4]:
salary_edu.to_csv(r"/Users/tracy/Documents/GitHub//STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/education/salary_edu.csv")